<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.callistoctopus.springbootweb.dao.mapper.FinancialReasonMapper">
  <select id="selectAll" resultType="com.callistoctopus.springbootweb.dao.model.FinancialReason">
    select * from financial_reason where type = #{type}
  </select>

  <insert id="insert" parameterType="com.callistoctopus.springbootweb.dao.model.FinancialReason">
  insert into financial_reason (id,user,type,reason)
  values (#{id},#{user},#{type},#{reason})
  </insert>
</mapper>