.side {
  /* float: left; */
  /* height: 100%; */
  width: 45px;
  top: 30px;
  bottom: 25px;
  position: fixed;
  background-color:  rgb(48, 48, 48);
}

.side .side-icon-top {
  color: #f2f2f2;
  text-align: center;
  padding: 5px 0px 0px 0px;
  text-decoration: none;
  font-size: 17px;
}

.side .side-icon-bottom {
  bottom: 5px;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 0px 0px 10px;
  text-decoration: none;
  font-size: 17px;
  position: absolute;
}
