<div class="status-bar">
  <div class="status-item" *ngFor="let item of view.statusMap.keys()">
    <mat-icon
      style="
        color: #757474;
        font-size: 12px;
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 4px;
        width: 12px;
        float: left;
      "
      >{{ item }}</mat-icon
    ><span
      style="
        color: #ffffff;
        font-size: 12px;
        padding-left: 6px;
        margin-left: 0px;
        float: left;
      "
      >{{ view.statusMap.get(item) }}</span
    >
  </div>
</div>
