<div class="status-bar">
  <div class="status-item-left" *ngFor="let item of view.status.keys()">
    <mat-icon *ngIf="view.status.get(item)?.level == 1" class="foot-icon">{{ view.status.get(item)?.icon }}</mat-icon
    ><span *ngIf="view.status.get(item)?.level == 1" class="foot-span">{{ view.status.get(item)?.content }}</span>
  </div>
  <div class="status-item-right" *ngFor="let item of view.status.keys()">
    <mat-icon *ngIf="view.status.get(item)?.level == 0" class="foot-icon">{{ view.status.get(item)?.icon }}</mat-icon
    ><span *ngIf="view.status.get(item)?.level == 0" class="foot-span">{{ view.status.get(item)?.content }}</span>
  </div>
</div>
