<app-background></app-background>
<div>
  <div class="div-center">
    <div class="div-icon">
      <mat-icon class="icon-center">account_circle</mat-icon
      ><input class="border input-center" type="text" />
    </div>
    <div class="div-icon">
      <mat-icon class="icon-center">vpn_key</mat-icon
      ><input class="border input-center" type="password" />
    </div>
    <button class="border large-button">
      <mat-icon style="color: rgb(0, 0, 0)">login_in</mat-icon>
    </button>
  </div>
</div>
