.side {
  float: left;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  width: 45px;
}

.side .side-icon {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 0px 0px 0px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}
