.side-content {
  float: left;
  height: 100%;
  background-color: #330;
}

.side-content a {
  display: block;
  overflow: hidden;
  color: #f2f2f2;
  text-align: left;
  padding: 10px 0px 0px 2px;
  text-decoration: none;
}
